.blue {
    color:#1976d2;
    text-decoration: underline;
}

.error {
    height: 85vh;
    text-align: center;
}

.errorButton {
    margin: 5rem 0 5rem 0;
}

.homePageCard {
    text-align: center;
}

.id {
    margin-top: 5rem; 
    text-align: center; 
}

.list {
    align-items: center;
    width: 100%;
    max-width: 360;
    justify-content: center;
}

.search {
    margin: 2rem;
}


.userCard {
    text-align:center; 
    margin: auto;
    margin-bottom: 2rem;
    width:50%;
}

.userTable {
    height: 55vh;
}

.users {
    background-color: white; 
    margin-bottom: 0;
    text-align: center; 
    padding-top: 5rem;
}